.popup {
    opacity: 1;
    z-index: 1;
    box-shadow: 0 2px 8px #e4e6e8;
    background-color: #fff;
    border-color: #e4e6e8;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px;

    position: fixed;
    right: 32px;
    bottom: calc(32px + 16px + 49px);
    color: #242729;
    padding: 12px;
}

.popup .arrow {
    bottom: -8px;
    display: block;
    height: 8px;
    position: absolute;
    right: 33px;
    width: 16px;
}

.popup .arrow::before {
    border-color: transparent;
    border-style: solid;
    border-top-color: #D9D9DC;
    border-width: 8px 8px 0 8px;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
}

.popup .arrow::after {
    border-color: transparent;
    border-style: solid;
    border-top-color: #fff;
    border-width: 8px 8px 0 8px;
    bottom: 1px;
    content: "";
    display: block;
    position: absolute;
}

.svgDuck svg {
    width: 56px;
    height: 49px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    cursor: pointer;
}