.quack-overflow-popup {
    opacity: 1;
    z-index: 99999;
    box-shadow: 0 2px 8px #e4e6e8;
    background-color: #fff;
    border-color: #e4e6e8;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    transition: all .5s ease;

    position: fixed;
    right: 32px;
    bottom: calc(32px + 16px + 49px);
    color: #242729;
}

.quack-overflow-popup * {
    margin: initial;
    padding: initial;
    line-height: initial;
}

.quack-overflow-popup .arrow {
    bottom: -8px;
    display: block;
    height: 8px;
    position: absolute;
    right: 33px;
    width: 16px;
}

.quack-overflow-popup .arrow::before {
    border-color: transparent;
    border-style: solid;
    border-top-color: #D9D9DC;
    border-width: 8px 8px 0 8px;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
}

.quack-overflow-popup .arrow::after {
    border-color: transparent;
    border-style: solid;
    border-top-color: #fff;
    border-width: 8px 8px 0 8px;
    bottom: 1px;
    content: "";
    display: block;
    position: absolute;
}

.quack-overflow-popup h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 14px;
    margin-bottom: 13px;
    text-align: center;
    color: #242729;
}

.quack-overflow-popup p {
    text-align: center;
    color: #6a737c;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    margin-bottom: 14px;
}

.quack-overflow-popup div.contentWrapper {
    width: 230px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 14px;
    margin-right: 14px;
}

.quack-overflow-popup div.smallTextWrapper {
    padding: 12px;
}

.quack-overflow-popup div.buttonWrapper {
    text-align: center;
}

.quack-overflow-popup button {
    font-size: 13px;
    cursor: pointer;
    padding: 7px 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
}

.quack-overflow-popup button.blueButton {
    border-color: #07c;
    box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75),0 0 0 0 rgba(0,149,255,0);
    background-color: #0095ff;
    color: #fff;
}

.quack-overflow-popup button.clearButton {
    color: #07c;
    box-shadow: 0 0 0 0;
    background-color: transparent;
    border: 0px;
    border-color: transparent;
}

.quack-overflow-popup button.clearButton:hover {
    color: #005999;
    background-color: rgba(0,119,204,0.05);
}

.quack-overflow-popup button.yesButton {
    display: inline-block;
    margin-right: 10px;
}

.quack-overflow-popup button.noButton {
    display: inline-block;
}

.quack-overflow-svgDuck {
    position: fixed;
    /* bottom: 32px; */
    right: 32px;
    transition: bottom .2s ease;
}

.quack-overflow-svgDuck svg {
    width: 56px;
    height: 49px;
    cursor: pointer;
}